<div class="browse-container">
  <div class="browse-header">
    BROWSE
  </div>

  <div class="browse-form">
    <!--Keywords-->
    <div class="keywords">
      <p>Search</p>
      <mat-form-field appearance="outline">
        <mat-label>Keywords</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="location">
      <p>Location</p>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline" appearance="outline">
        <mat-label>State</mat-label>
        <mat-select>
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Distance (miles)</mat-label>
        <input type="number" matInput />
      </mat-form-field>
    </div>
    <div class="genre">
      <p>Genre</p>
      <mat-form-field appearance="outline">
        <mat-label>Main</mat-label>
        <mat-select>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sub 1</mat-label>
        <mat-select>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sub 2</mat-label>
        <mat-select>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-button-container">
      <button color="primary" mat-raised-button>Search</button>
    </div>
  </div>
</div>
