.hero-container {
  background-image: linear-gradient(
      to top,
      rgba(253, 253, 253, 0.39),
      rgba(117, 19, 93, 0.445)
    ),
    url("../../../assets/images/tourBackground.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
}

img {
  max-width: 100%;
  position: relative;
}

a {
  margin: 0px 10px;
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 10%;
}

.scroll-button {
  position: absolute;
  bottom: 40px;
}

.scroll-icon {
  color: white;
}
